<!DOCTYPE html>
<html>
  <%- include ../partial/head.ejs %>
  <body class="bg-light" >
    <%- include ../partial/navbar.ejs %>
    <div class="position-absolute top-50 start-50 translate-middle">
      <div class="card shadow" style="width: 18rem;">
        <div class="card-body">
          <h1 class="p-1">Global your link</h1>
          <div class="input-group mb-3">
            <form action="/hello" method="post">
              <input required type="text" class="form-control p-3 shadow" id="namber" name="namber" placeholder="Paste your link here">
              <br>
              <input class="shadow btn btn-outline-primary p3" type="submit" value="Short">
            </form>
          </div>
          <div>
            <a href="/hello">
              <button class="btn shadow btn-outline-primary">
                View your last link
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>
