<div>
    <nav style="background-image: linear-gradient(to bottom, #7836F9, #722DFA);" class="navbar shadow navbar-dark p-3">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1 fs-4 ">NAFHAN.live</span>
      </div>
    </nav>
  </div>